<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PORTFOLIO</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/media.css">
</head>

<body>
	<header class="header-section flex">
		<h1>Naveen</h1>
		<div class="nav-links flex">
			<a href="#home" class="hover">
				<h2>Home</h2>
			</a> <a href="#about" class="hover">
				<h2>About</h2>
			</a> <a href="#projects" class="hover">
				<h2>Projects</h2>
			</a> <a href="#skills" class="hover">
				<h2>Skills</h2>
			</a> <a href="contact" class="hover">
				<h2>Contact</h2>
			</a>
		</div>
		<button class="toggle-button" aria-label="Toggle navigation menu">
			<i class="fa-solid fa-bars"></i>
		</button>
	</header>
	<div id="home" class="profile adjustment flex">
		<div class="icon flex">
			<a href="https://www.linkedin.com/in/chnaveen76/" class="hover"
				id="icon" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
			<a href="mailto:ch.naveen576@gmail.com" class="hover" id="icon"
				target="_blank"><i class="fa-solid fa-envelope"></i></a> <a
				href="https://github.com/chnaveen76" class="hover" id="icon"
				target="_blank"><i class="fa-brands fa-github"></i></a> <a
				href="https://wa.me/9849347696" class="hover" id="icon"
				target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
		</div>
		<div class="intro-box">
			<h3>Hello,It's me</h3>
			<h1>Naveen Chiraboina</h1>
			<h3>
				and I'm <span class="skills">
					<h2>Java Full Stack Developer</h2>
				</span>
			</h3>

			<a href="/assets/NaveenChiraboina.pdf" target="_blank">
				<button id="button-1">
					<h3>Download CV</h3>
				</button>
			</a>
			<button id="button-2">
				<h3>Contact me</h3>
			</button>
		</div>
		<div class="img-sec">
			<img src="/assets/passphoto.jpg" alt="img">
		</div>
	</div>
	<div id="about" class="about adjustment">
		<div class="more-heading">
			<h2>Get to Know</h2>
			<h2>More about me</h2>
		</div>
		<div class="about-more flex">
			<section class="boxes-container flex">
				<div class="boxes">
					<h3>B.TECH</h3>
					<h3>C.S.E</h3>
					<h3>CGPA:7.73</h3>
				</div>
				<div class="boxes" id="box-2">
					<h3>INTERMEDIATE</h3>
					<h3>M.P.C</h3>
					<h3>PERCENTAGE:94%</h3>
				</div>
				<div class="boxes">
					<h3>SCHOOL</h3>
					<h3>SSC</h3>
					<h3>CGPA:9.2</h3>
				</div>
			</section>
			<section class="about-obj">
				<h2>Career Objective</h2>
				<P>Highly skilled and motivated Computer Science Graduate with a
					strong background in Java programming, Spring framework, and
					front-end technologies, seeking to leverage my expertise in
					building enterprise applications and RESTFul services.</P>
			</section>
		</div>
	</div>
	<div id="projects" class="projects-container adjustment">
		<h1>Project Works</h1>
		<div class="grid">
			<div class="project">
				<main>Project:Bank Aggregator Application</main>

				<ul>
					<h3>Technologies: Spring Boot, Spring JDBC, SQL, AWS S3</h3>
					<li>Developed a Bank Aggregator application to integrate
						multiple banking services and generate a summarised banking
						statement.</li>
					<li>Implemented RESTful APIs for seamless communication
						between client and server.</li>
					<li>Utilised SQL for efficient data storage and management,
						ensuring data integrity and security.</li>
					<li>Integrated AWS S3 for uploading and downloading bank
						statements.</li>
				</ul>


			</div>

			<div class="project">
				<main>E-Commerce Application</main>

				<ul>
					<h3>Technologies: HTML, CSS, JavaScript, Java, Spring Boot,
						MySQL</h3>
					<li>Built a responsive eCommerce application, handling both
						frontend and backend development.</li>
					<li>Designed and implemented user-friendly UI components with
						HTML, CSS, and JavaScript for the frontend.</li>
					<li>Developed backend services using Java and Spring Boot to
						handle product listings, user authentication, and order
						management.</li>
					<li>Utilized MySQL for database management and ensured data
						consistency and security.</li>
				</ul>

			</div>
			<div class="project">
				<main>Thomas Travels Project</main>

				<ul>
					<h3>Technologies: Core Java,JDBC</h3>
					<li>Developed a Bank Aggregator application to integrate
						multiple banking services and generate a summarised banking
						statement.</li>
					<li>Created a travel booking system with Core Java,JDBC
						featuring booking, cancellation, and user management.</li>
					<li>Developed backend logic to handle travel bookings and user
						information.</li>
				</ul>


			</div>
		</div>

	</div>
	<div id="skills" class="skills-container adjustment">
		<div class="more-heading">
			<h1>TECHNICAL SKILLS</h1>
		</div>
		<div class="skills-section grid">
			<section class="skills-sec hover">
				<h2>Programming languages</h2>
				<h3>
					<i class="fa-brands fa-java"></i>Java
				</h3>

			</section>
			<section class="skills-sec hover">
				<h2>Web Technologies</h2>
				<h3>HTML</h3>
				<h3>CSS</h3>
				<h3>JavaScript</h3>
			</section>
			<section class="skills-sec hover">
				<h2>Frameworks and Libraries</h2>
				<h3>Spring Boot</h3>
				<h3>Spring MVC</h3>
				<h3>Hibernate</h3>
			</section>
			<section class="skills-sec hover">
				<h2>Databases</h2>
				<h3>MySQL</h3>
			</section>
			<section class="skills-sec hover">
				<h2>API Design</h2>
				<h3>RESTful Services</h3>
			</section>
		</div>
	</div>
	<div id="contact" class="contact-container adjustment">
		<h1>Get in touch</h1>
		<form action="/save" method="POST" class="form-submission flex">
			<input type="text" name="name" class="input-type"
				placeholder="Your Name" required> <input type="email"
				name="email" class="input-type" placeholder="Email or phone number"
				required>
			<textarea name="message" class="input-type"
				placeholder="Your message" cols="30" rows="10"></textarea>
			<button type="submit">Submit</button>
		</form>
	</div>
	<div class="nav-links button adjustment flex">
		<a href="#" class="hover">
			<h2>Home</h2>
		</a> <a href="#" class="hover">
			<h2>About</h2>
		</a> <a href="#" class="hover">
			<h2>Projects</h2>
		</a> <a href="#" class="hover">
			<h2>Skills</h2>
		</a> <a href="#" class="hover">
			<h2>Contact</h2>
		</a>
	</div>
	<script src="/js/script.js"></script>
	<script src="https://kit.fontawesome.com/ef41c71b62.js"
		crossorigin="anonymous"></script>
</body>

</html>